#calculator{
  border: 1px solid black;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  width: 250px;
  background-color: rgb(90, 90, 90);

}
#display{
  
  margin: 10px ;
  padding-top: 13px;
  padding-bottom: 13px;
  width: 87%;
  text-align: end;
  border-color: black;
  font-size: 15px;
  margin-top: 3px;
  margin-bottom: 5px;

  
}
#button_contain{
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  margin: 6px;
  

}
.button{
  width: 70px;
  height: 50px;
  margin: 4px;
  border-color: rgb(0, 0, 0);
}
p{
  margin-left: 9px;
  margin-bottom: 1px;
  margin-top: 3px;
  
}
