#my_calci{
  border: 1px solid black;
  width: 450px;
  background: #000;

}
#show{
  margin: 10px;
  width: 408px;
  padding-left: 20px;
  height: 50px;
  margin-bottom: 10px;
  text-align: end;
  font-size: 20px;
  
}
#container{
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-bottom: 10px;
  

}
.butt{
  width: 100px;
  height: 50px;
  margin: 4px;
  font-size: 18px;
  color: white;
  background: #232323;
}